<form method="get">
    <input name="q" type="text" placeholder="Search...">
</form>
{% for video_data in page_obj %}
    <div>
        <img src={{ video_data.thumbnails.default.url }}>
        <div>
            <h4>{{ video_data.video_title }}</h4>
            <p>{{ video_data.published_time }}</p>
            <p>{{ video_data.description }}</p>
        </div>

    </div>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            {% if q %}
                <a href="?page=1&q={{ q }}">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}&q={{ q }}">previous</a>
            {% else %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            {% if q %}
                <a href="?page={{ page_obj.next_page_number }}&q={{ q }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}&q={{ q }}">last &raquo;</a>
            {% else %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        {% endif %}
    </span>
</div>